<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.0.1/dist/alpine.js" defer></script>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {{ include('partials/navbar.html.twig') }}
         <header class="bg-white shadow">
            <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
                <h2 class="text-3xl font-bold leading-tight text-gray-900">{% block page %}{% endblock %}</h2>
            </div>
        </header>
        <main>
            <div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
            <!-- Replace with your content -->
            <div class="px-4 py-6 sm:px-0">
                {% block body %}{% endblock %}
            </div>
            <!-- /End replace -->
            </div>
        </main>
        {% block javascripts %}{% endblock %}
    </body>
</html>

